<div class="bg-body dark:bg-darkmode-body">
  {{ with .Params.image }}
    {{ with resources.Get . }}
      {{ with .Resize "300x300 webp" }}
        <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="{{ .Title }}" class="mx-auto mb-6 rounded">
      {{ end }}
    {{ end }}
  {{ end }}
  <h4 class="mb-3">
    <a href="{{ .RelPermalink }}">
      {{ .Title }}
    </a>
  </h4>
  <ul class="mb-4">
    {{/*  Instructor  */}}
    <li class="mr-4 inline-block">
      <a href="{{ `team/` | relLangURL }}{{ .Params.instructor | urlize }}/">
        <i class="fa-regular fa-circle-user mr-2"></i>{{ .Params.instructor }}
      </a>
    </li>
    {{/*  Language  */}}
    <li class="mr-4 inline-block">
      <i class="fa-regular fa-laptop-code mr-2"></i>
      {{ .Params.language }}
    </li>
    {{/*  Age Group  */}}
    <li class="mr-4 inline-block">
      <i class="fa-regular fa-user mr-2"></i>
      {{ .Params.age_group }}
    </li>
    {{/*  Location  */}}
    <li class="mr-4 inline-block">
      <a href="{{ `team/` | relLangURL }}{{ .Params.instructor | urlize }}/">
        <i class="fa-regular fa-location-dot mr-2"></i>{{ .Params.location }}
      </a>
    </li>
    {{/*  Tags  */}}
    <li class="mr-4 inline-block">
      <i class="fa-regular fa-folder mr-1"></i>
      {{ $tags:= .Params.tags }}
      {{ range $i,$p:= $tags }}
        <a
          href="{{ `tags/` | relLangURL }}{{ . | urlize | lower }}/"
          class="ms-1"
          >{{ . | humanize }}{{ if ne $i (sub (len $tags) 1) }}
            {{ "," }}
          {{ end }}
        </a>
      {{ end }}
    </li>
  </ul>
  <p class="mb-6">{{ .Summary }}</p>
  <a class="btn btn-outline-primary btn-sm" href="{{ .RelPermalink }}">
    {{ i18n "read_more" }}
  </a>
</div>
