{{ define "main" }}
  {{/*  {{ partial "page-header" . }}  */}}


  <section class="section-sm pb-1">
    <div class="container">
      <div class="row justify-center">
        <div class="md:col-6 lg:col-4 text-center">
          {{range .RegularPages }}
            {{if not .Params.showInList }}
              {{ partial "components/main-team-card" . }}
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </section>
  <section class="section pt-8">
    <div class="container">
      <div class="row">
        {{ range .RegularPages }}
          {{if .Params.showInList }}
            <div class="md:col-6 lg:col-4 mb-14">
              {{ partial "components/team-card" . }}
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
